/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2018, 11:43:51 AM
    Author     : gregorygraham
*/


.tasklist{
	border-radius: 5px;
	width: 100%;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 1em;
}

@media all and (max-width: 900px) {
	.tasklist{
		padding-left: 0;padding-right:0;
		margin-left: 0; margin-right: 0;
		border-radius: 0;
	}
}

.tasklist-well{
	width: 100%;
}

.tasklist-grid-row{
	cursor: pointer;
	vertical-align: top;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: center;
	width: calc(100% - 1em);
	max-width: 900px;
	background-color: white;
	box-shadow: 0 1px 6px darkgrey;
	margin-bottom: 5px;
	border-radius: 5px;
	margin-left: 2px;
	margin-right: 2px;
}

.tasklist-grid-row-header{
	display: block;
	width:100%;
}


.tasklist-entry-content{
	width:100%;
}

.tasklist-grid-row-footer{
	display: block;
	width:100%;
}

.task-list-grid-container{
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-self: center;
}

.tasklist-header{
	display: flex;
	justify-content: space-between;
	margin-left: 2px;
}

.tasklist-name{
	white-space: normal;
	display: block;
}

.tasklist-description{
	white-space: normal;
	font-size: smaller;
}

.tasklist-entry-summary{
	display: inline-block;
	width: 100%;
}

.tasklist-project.tasklist-complete-tick{
	opacity: 0;
}

.tasklist-subtask-count{
	width: 3em;
	display: inline-block;
	align-items: baseline;
	color: cadetblue;
}

.tasklist-entry-prefix{
	padding: 3px;
}

.tasklist-entry-suffix{
	padding-right: 3px;
}

.tasklist-footer{
}

.tasklist-complete-tick{
	background-color: lightgray; 
	color: white; 
	border-radius: 4px;
	height: 36px;
	min-height: 36px;
	width: 36px;
	min-width: 36px;
}

.tasklist-reopen-tick{
	background-color: transparent; 
	color: limegreen; 
	border-radius: 4px;
	font-size: smaller;
}
.favourited-task-heart{
	background-color: transparent; 
	color: red; 
}
.normal-task-heart{
	background-color: transparent; 
	color: lightgray; 
}
.edit-task-complete-button-container {
	display: flex;
	flex-direction: row-reverse;
}