/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2018, 11:43:51 AM
    Author     : gregorygraham
*/

vaadin-grid-cell-content{
	width: 100%;
	height: 100%;
} 

flow-component-renderer{
	width: 100%;
	height: 100%;
	min-height: 36px;
	min-width: 36px;
}

.tasklist-well{
	width: 100%;
}

.tasklist-grid-row{
	cursor: pointer;
	vertical-align: top;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: center;
	width: calc(100% - 2px);
	font-size: 16px;
	background-color: white;
	border-bottom: thin solid #e5e5e5;
	border-left: thin solid #e5e5e5;
	border-right: thin solid #e5e5e5;
}

.task-list-grid-container{
	margin:0;
	padding: 0;
	border: 0;
	width: 100%;
}

.tasklist{
	background-color: #e5e5e5;
	box-shadow: inset 0 0 6px darkgrey, 0 0 0 black;
	border-radius: 5px;
	width: 100%;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 1em;;
}

@media all and (max-width: 900px) {
	.tasklist{
		padding-left: 0;padding-right:0;
		margin-left: 0; margin-right: 0;
		border-radius: 0;
	}
}

.tasklist-header{
	display: flex;
	justify-content: space-between;
}

.tasklist-header .addtaskbutton{
}

@media all and (max-width: 900px) {
	.addtaskbutton{
		padding: 0;
		margin-left: 0; margin-right: 0;
		font-size: x-small;
	}
}

.tasklist-name{
	white-space: normal;
	display: block;
}

.tasklist-description{
	white-space: normal;
	font-size: smaller;
}

.tasklist-entry-summary{
	display: inline-block;
	width: 100%;
}

.tasklist-project.tasklist-complete-tick{
	/*display: none;*/
	opacity: 0;
}

.tasklist-subtask-count{
	width: 3em;
	display: inline-block;
	align-items: baseline;
}

.tasklist-entry-prefix{
	padding: 3px;
}

.tasklist-entry-suffix{
}

.tasklist-footer{
}

.tasklist-complete-tick{
	background-color: lightgray; 
	color: white; 
	border-radius: 4px;
	font-size: smaller;
	height: 36px;
	min-height: 36px;
	width: 36px;
	min-width: 36px;
}

.tasklist-reopen-tick{
	background-color: transparent; 
	color: limegreen; 
	border-radius: 4px;
	font-size: smaller;
}
.favourited-task-heart{
	background-color: transparent; 
	color: red; 
}
.normal-task-heart{
	background-color: transparent; 
	color: lightgray; 
}
.edit-task-complete-button-container {
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
}