/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/11/2018, 10:27:54 PM
    Author     : gregorygraham
*/

authorised-banner {
	width: 100%;
	background-color: cadetblue;
	color:white;
	display: flex;
	justify-content: space-between
}

	authorised-banner a{color: white;}
	authorised-banner a:hover{color: white;font-weight: bold;}
	authorised-banner a:active{color: white;font-style: oblique;}

	authorised-banner-left {
		padding-left: 1em;
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: center;
	}

	authorised-banner-right{
	}

	#authorised-banner-profile-image{
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: 25px;
		display: inline-block;	
	}

	.authorised-banner-selected-button{
		background-color: white;
		color: cadetblue;
	}

	.authorised-banner-button{
		/*color: #0099cc;*/
		color: white;
		background-color: cadetblue;
	}
