/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/11/2018, 10:27:54 PM
    Author     : gregorygraham
*/

authorised-banner {
	width: 100%;
	height:50px;
	background-color: cadetblue;
	color:white;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 2;
	opacity: 1;
}

authorised-banner a{color: white; font-weight: bold;}
authorised-banner a:hover{color: #ccffff;font-weight: bold;}
authorised-banner a:active{color: #ccffff;font-style: oblique;}

.authorised-banner-left {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	vertical-align: central;
	cursor: pointer;
}

.authorised-banner-right{    
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.authorised-banner-right label{    
	color: darkslategray;
}

#authorised-banner-profile-image{
	width: 50px;
	height: 50px;
	object-fit: cover;
	display: inline-block;	
	border-bottom-left-radius: 5px;
}

#authorised-banner-profile-image img{
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.authorised-banner-selected-button{
	background-color: gray;
	color: white;
}

.authorised-banner-button{
	color: white;
	width: 46px;
	padding-left: 9px;
	padding-right: 9px;
}
