/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2018, 11:43:51 AM
    Author     : gregorygraham
*/


.changelist{
	/*background-color: #e5e5e5;*/
	/*box-shadow: inset 0 0 6px darkgrey, 0 0 0 black;*/
	border-radius: 5px;
	width: 100%;
	max-width: 250px;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 1em;
}

@media all and (max-width: 900px) {
	.changelist{
		padding-left: 0;padding-right:0;
		margin-left: 0; margin-right: 0;
		border-radius: 0;
	}
}

.changelist-well{
	width: 100%;
}

.changelist-grid-row{
	cursor: pointer;
	vertical-align: top;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: center;
	width: calc(100% - 1em);
	max-width: 900px;
	color: cadetblue;
	background-color: white;
	border: solid thin #e6e6e6;
	box-shadow: none;
/*	border-left: thin solid #e5e5e5;
	border-right: thin solid #e5e5e5;*/
	border-radius: 5px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 3px;
}

/*.task-list-grid-container{
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-self: center;
}*/

.changelist-header{
	display: flex;
	justify-content: space-between;
	margin-left: 2px;
}

.changelist-name{
	white-space: normal;
	display: block;
}

.changelist-description{
	white-space: normal;
	font-size: small;
}

.changelist-entry-summary{
	display: inline-block;
	width: 100%;
}

.changelist-change-taskname{
	font-weight: bold;
}

/*.changelist-project.changelist-complete-tick{
	display: none;
	opacity: 0;
	color: blueviolet;
}*/

.changelist-subtask-count{
	width: 3em;
	display: inline-block;
	align-items: baseline;
}

.changelist-entry-prefix{
	padding: 3px;
	color: limegreen;
}
.changelist-grid-row iron-icon{
	opacity:0.5;
}

.changelist-entry-suffix{
	padding-right: 3px;
}

.changelist-footer{
}

.changelist-complete-tick{
	background-color: lightgray; 
	color: white; 
	border-radius: 4px;
	font-size: smaller;
	height: 36px;
	min-height: 36px;
	width: 36px;
	min-width: 36px;
}

.changelist-reopen-tick{
	background-color: transparent; 
	color: limegreen; 
	border-radius: 4px;
	font-size: smaller;
}
/*.favourited-task-heart{
	background-color: transparent; 
	color: red; 
}
.normal-task-heart{
	background-color: transparent; 
	color: lightgray; 
}*/