
.cluster-monitor{
	/*border: solid cadetblue;*/
	/*display: flex;*/
}

.cluster-monitor-database-cluster{
	border: solid blueviolet;
	background-color: beige;
}

.cluster-monitor-contained-databases{
}

.cluster-monitor-contained-database{
	background-color: white;
	border-top:thin dashed darkslateblue;
}

.cluster-monitor-ready-database{
	background-color: lightgreen;
}

.cluster-monitor-nonready-database{
	background-color: bisque;
}

.cluster-monitor-database-description{
	color: blue;
	font-size: small;
}

.cluster-monitor-exception{
	color: red;
	font-size: small;
}

/*.cluster-monitor-database-status{
	background-color: bisque;
}*/

.cluster-monitor-database{
	/*border: dashed blueviolet;*/ 
	/*display: block;*/
}