
.cluster-monitor{
	/*border: solid cadetblue;*/
	/*display: flex;*/
}

.cluster-monitor-database-cluster{
	padding:5px;
	background-color: beige;
}

.cluster-monitor-contained-databases{
	border:thin solid darkslateblue;
}

.cluster-monitor-contained-database{
	background-color: white;
	border:thin dashed darkslateblue;
	border-radius:5px;
	padding:2px;
	margin:5px;
}
.cluster-monitor-ready-database{
	background-color: lightgreen;
}

.cluster-monitor-nonready-database{
	background-color: bisque;
}

.cluster-monitor-database-description{
	color: blue;
	font-size: small;
}

.cluster-monitor-exception{
	color: red;
	font-size: small;
}

/*.cluster-monitor-database-status{
	background-color: bisque;
}*/

.cluster-monitor-database{
	/*border: dashed blueviolet;*/ 
	/*display: block;*/
}

regular-processor-overview{
	display: block;
	background-color: black;
	border: thin solid lightblue;
	border-radius: 5px;
	padding: 2px;
	margin: 5px;
	color: white;
	font-size: smaller;
}
