/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2018, 11:43:51 AM
    Author     : gregorygraham
*/
.colleaguelist-status-label{
	align-self: center;
	padding-left: 3px;
	padding-right: 3px;
}
.colleaguelist-entry-declined{
	color: red;
	padding-left: 3px;
	padding-right: 3px;
}
.colleaguelist-entry-invited{
	color: lightgray;
	padding-left: 3px;
	padding-right: 3px;
}
.colleaguelist-entry-canaccept{
	color: #ffcc00;
	padding-left: 3px;
	padding-right: 3px;
}

.colleaguelist-entry-accepted{
	color: limegreen;
	padding-left: 3px;
	padding-right: 3px;
}

.colleaguelist-acceptbutton{
	color: limegreen;
	margin-right: 3px;
}

.colleaguelist-declinebutton{
	color: red;
	margin-right: 3px;
}

.colleaguelist-rescindbutton{
	color: red;
	margin-right: 3px;
}

.colleaguelist-ejectbutton{
	color: maroon;
	margin-right: 3px;
}

.colleaguelist-entry{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: center;
	width: 100%;
	border-left: thin solid #CCC;
	border-bottom: thin solid #CCC;
	border-right: thin solid #CCC;
}

.colleaguelist-entry-prefix{
	padding-left: 3px;
	padding-right: 3px;
}

.colleaguelist-entry-summary{
	width: 100%;
}

.colleaguelist-entry-suffix{
	padding-left: 3px;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	align-items: center;
}

.colleaguelist-grid{
	display: flex;
	flex-direction: column;
	align-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 400px;
	border-top: thin solid #CCC;
}