/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2018, 11:43:51 AM
    Author     : gregorygraham
*/

.edit-task-button{
	background-color: #ccffcc; /*#0099cc;;*/
	color: black;
}

@media all and (min-width: 600px) and (max-width: 900px) {
	.edit-task-button{
		padding: 0;
		margin-left: 0; margin-right: 0;
		font-size: small;
	}

	.edit-task-contents{
		font-size: small;
	}
}

@media all and (max-width: 599px) {
	.edit-task-button{
		padding: 0;
		margin-left: 0; margin-right: 0;
		font-size: x-small;
	}

	.edit-task-contents{
		font-size: x-small;
	}
}

@media all and (max-width:550px){
	.edit-task-addbuttons{
		flex-direction: column;
		float:right;
	}
}

.edit-task-component{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	align-items: center;
}

.edit-task-contents{
	width: 98%;
}

.edit-task-name{
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;   
	flex-wrap: wrap;
	width: 100%;
}

.edit-task-name-input{
	width:100%;
	max-width:30em;
}

.edit-task-description{
	width:100%;
}

.edit-task-notes{
	width:100%;
}

.edit-task-dates{ 
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;   
	flex-wrap: wrap;
	padding-top: 5px;
}

.edit-task-addbuttons{
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;   
	flex-wrap: wrap;
}

.completebutton{
	background-color: red; 
	color: white; 
	border-radius: 4px;
}

.edit-task-nameanddescription{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 100%;
	min-width: 200px;
	max-width: 500px;
}

.edit-task-projectandassignment{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: thin dashed #CCC;
	border-radius: 5px;
	vertical-align: top;
	margin-left: 2px;
	padding: 2px;
}

.edit-task-nameandproject{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}