/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/03/2019, 11:28:21 AM
    Author     : gregorygraham
*/

kittens{
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	background-color: navajowhite;
}

kittens a{
}

kittens img{
	max-width: 200px;
	transition: transform .5s ease;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
}

/* [3] Finally, transforming the image when container gets hovered */
kittens img:hover {
	transform: scale(2);
}