/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/11/2018, 10:27:54 PM
    Author     : gregorygraham
*/

/*.selected-button{
	background-color: white;
	color: cadetblue;
}

.profile-button{
	color: #0099cc;
}
.logout-button{
	color: #0099cc;
}
.colleagues-button{
	color: #0099cc;
}*/
