/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2018, 11:43:51 AM
    Author     : gregorygraham
*/

.opentasks-footer {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.addtaskbutton{
	background-color: limegreen;
	color: white;
	padding-right: 3px;
}

@media all and (max-width: 900px) {
	.addtaskbutton{
		padding: 0;
		margin-left: 0; margin-right: 0;
		font-size: x-small;
		font-weight: bold;
	}
}