/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2018, 11:43:51 AM
    Author     : gregorygraham
*/

.openprojectslist.tasklist-footer {
	width: calc(100% - 10px);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 6px;
	padding-right: 6px;
}

.openprojects-addminortaskbutton{
	background-color: limegreen;
	color: white;
}
