/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2018, 11:43:51 AM
    Author     : gregorygraham
*/
.opentaskslist{
	background: white;
	box-shadow: none;
}

.opentasks-footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
}

.opentaskslist .tasklist-grid-row{
	border: 0;
	margin-bottom: 3px;
	background-color: #e5ffe5;
	color: white;
}

.opentaskslist .normal-task-heart{
	color: white;
	opacity: 1;
}

.opentaskslist .taskoverview-name {
    color: black;
}

.opentaskslist .taskoverview-description {
    color: black;
}

.opentaskslist .tasklist-complete-tick{
	background-color: transparent;
	color: white;
	opacity: 1;
}
.opentaskslist .tasklist-subtask-count {
    color: black;
}
.addtaskbutton{
	background-color: limegreen;
	color: white;
	padding-right: 3px;
}

@media all and (max-width: 900px) {
	.addtaskbutton{
		padding: 0;
		margin-left: 0; margin-right: 0;
		font-size: small;
		/*font-weight: bold;*/
	}
}