/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/03/2019, 6:05:04 PM
    Author     : gregorygraham
*/

sidebar{
	/*display:inline-block;*/
	/*display:inline-block;*/
	/*max-width: 200px;*/
	/*min-width: 15em;*/
	width: 20em;
	font-size: small;
	flex-grow: 0;
}

@media all and (max-device-width: 600px) {
	sidebar { display: none;}
}

@media all and (min-device-width: 601px) {
	sidebar { display: inline-block;}
}
/*@media all and (min-width: 600px) {
	.sidebar { display: inline-block; }
}*/

sidebar .tasklist{
	/*background-color: white;*/
	box-shadow: none;
}

sidebar .tasklist-grid-row{
	box-shadow: 0 0 2px darkgrey;
}

sidebar .changelist{
	/*background-color: white;*/
	box-shadow: none;
}

sidebar .changelist-grid-row{
	/*box-shadow: 0 0 2px darkgrey;*/
}
