/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2018, 11:43:51 AM
    Author     : gregorygraham
*/

.taskoverview{
	padding-left: 2px;
	display: inline-block;
	width: 100%;
}

.taskoverview-all{
	display: flex;
	/*flex-direction: row;*/
	flex-direction: column;
	justify-content: space-between;
	/*align-items: flex-start;*/
	align-items: flex-end;
	width: 100%;
}

/*@media all and (max-width: 600px) {
	.taskoverview-all{
		flex-direction: column;
		align-items: flex-end;
	}
}*/

.taskoverview-summary{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}

.taskoverview-nameandproject{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.taskoverview-name{
	color: cadetblue;
	white-space: normal;
	display: block;
	width: inherit;
}

.taskoverview-project{
	color: darkgray;
	white-space: normal;
	display: block;
	width: 10em;
	padding-right: 1em;
}

.taskoverview-description{
	color: #666666;
	white-space: normal;
	font-size: smaller;
}

.taskoverview details{
	font-size: smaller;
	color: gray;
	margin-right: 5px;
	min-width:5em;
}

.taskoverview details div{
	font-size: smaller;
	/*color: gray;*/
	margin-right: 5px;
	width:100%;
	white-space: nowrap;
}

.taskoverview details div span{
	display: block;
	white-space: nowrap;
}