/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/01/2019, 11:06:42 PM
    Author     : gregorygraham
*/

.tooltip {
	position: relative;
	display: inline-block;
}

@keyframes fadeinandout {
	0% {
		opacity: 0;
		visibility: visible;
	}
	5% {
		opacity: 1;
		visibility: visible;
	}
	95% {
		opacity: 1;
		visibility: visible;
	}
	99%{
		opacity: 0;
		visibility: visible;
	}
	100%{
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
		visibility: visible;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

.tooltip .tooltiptext {
	visibility: hidden;	
	opacity: 0;
	max-width: 15em;
	min-width: 10em;
	height: auto;
	white-space:normal;
	word-wrap: break-word;
	border:thin solid cadetblue;
	background-color: white;
	color: #333333;
	text-align: center;
	font-size: small;
	font-weight: normal;
	border-radius: 6px;
	padding: 0;
	z-index: 1;
}

.tooltip .tooltiptext::after {
	content: "";
}

.tooltip:hover .tooltiptext {
	animation: fadeinandout 3s;
}

.tooltipposn-bottom-centre {
	position: absolute;
	top: 90%;
	left: 50%;
	margin-left: -60px;
}

.tooltipposn-bottom-right {
	position: absolute;
	top: 90%;
}

.tooltipposn-bottom-left {
	position: absolute;
	top: 2em;
	right: 10%;
}

.tooltip .tooltipposn-bottom-centre::after {
	position: absolute;
	top: -20px;
	left: 25%;
	margin-left: 10%;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent cadetblue transparent;
}

.tooltip .tooltipposn-bottom-right::after {
	position: absolute;
	top: -20px;
	left: 15px;
	margin-left: -1em;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent cadetblue transparent;
}

.tooltip .tooltipposn-bottom-left::after {
	position: absolute;
	top: -20px;
	right: 15px;
	margin-right: -1em;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}
